.ant-modal-mask {
  background: url(../../assets/Logo/Iron-Man-3-poster.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.ant-modal-wrap {
  background: #101010ad;
}
.ant-modal-content {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.ant-modal-content input {
  background: #333;
  border-radius: 4px;
  border: 0;
  border-bottom: 2px solid;
  color: #fff;
  height: 55px;
  line-height: 55px;
  padding: 16px 20px 0;
  outline: none;
}
.ant-modal-content input:focus {
  background: #454545;
}
.ant-modal-content input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid;
}
.ant-modal-content label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #8c8c8c;
  font-size: 17px;
  transition: 0.2s all;
}
.ant-modal-content label.active{
    top: 7px;
    font-size: 12px;
}
.loginLayout .item {
  margin-bottom: 40px;
  position: relative;
}
.loginLayout .form-control:focus{
    color: #ffffff;
}